
<h1>
    Mostrar producto:
</h1>

<div class="productItem">

    <div>
        <% var attachment = product.attachment; %>
        <% if (attachment) { %>

            <a href='<%= attachment.url %>'
               type='<%= attachment.mime %>'
               target='_blank'>
        
                <% if ( attachment.mime === "image/jpeg" ||
                        attachment.mime === "image/gif" ||
                        attachment.mime === "image/jpg" ||
                        attachment.mime === "image/png" ||
                        attachment.mime === "image/gif" ) { %>
        
                    <%- attHelper.image(attachment.url) %>
        
                <% } else if ( attachment.mime === "video/mp4" ) { %>
        
                    <%- attHelper.video(attachment.url) %>
        
                <% } else if ( attachment.mime === "application/pdf" ) { %>
        
                    <%- attHelper.image('/images/pdf.png') %>
        
                <% } else { %>
        
                    <%- attHelper.image('/images/doc.png') %>
        
                <% } %>
            </a>
        <% } else { %>
            <img src="/images/none.png" width="100px"/>
        <% } %>
        
    </div>

    <div>
        <br/>
        Referencia: <b><%= product.reference %></b>
        <br/>
        Color: <b><%= product.color %></b>
        <br/>
        Categoría: <b><%= product.category %></b>
        <br/>
        Precio: <b><%= product.price %></b>
        <br/>
        Composición: <b><%= product.composition %></b>
    </div>

</div>

<a href="/goback" class="button">Go back</a>
